PORT=8000

DB_HOST=localhost
DB_NAME=simple_procurement_system
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=rahasia

JWT_SECRET=3f92ef03-838f-4cac-8a25-c699883b492a

WEBHOOK_URL=https://webhook.site/851166dd-0658-46a4-bd1b-fee93fd43099